<div class="container row justify-center mb-15">
  <div class="social-media-icons">
    <h2>Copyright 2024</h2>
    <a href="https://github.com/madalucard" target="”_blank”">
      <img
        src="assets\images\github-sign.png"
        alt="github link"
        class="social-icon"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/martin-lapihuska-626304185/"
      target="”_blank”"
    >
      <img
        src="assets\images\linkedin.png"
        alt="linkedin link"
        class="social-icon"
      />
    </a>
    <a
      href="https://www.facebook.com/martin.lapihuska.private"
      target="”_blank”"
    >
      <img
        src="assets\images\facebook.png"
        alt="facebook link"
        class="social-icon"
      />
    </a>
  </div>
</div>
