<p-tabView class="column table-container">
  <!-- test view of London weather -->
  <!-- <p-tabPanel header="Test View">
    <div class="weather-container">
      <h1>Weather Information</h1>
      <div *ngIf="testViewData">
        <h2>Location: New York City</h2>
        <p>
          <strong>Current Temperature:</strong>
          {{ testViewData.hourly.temperature_2m[0] }} °C
        </p>
        <p>
          <strong>Daily Max Temperature:</strong>
          {{ testViewData.daily.temperature_2m_max[0] }} °C
        </p>
        <p>
          <strong>Daily Min Temperature:</strong>
          {{ testViewData.daily.temperature_2m_min[0] }} °C
        </p>
      </div>
      <div *ngIf="!testViewData">
        <p>Loading weather data...</p>
      </div>
    </div>
  </p-tabPanel> -->
  <p-tabPanel header="Heat Index Calculator">
    <app-weather-calculator></app-weather-calculator>
  </p-tabPanel>
  <p-tabPanel header="Line Chart">
    <app-weather-chart [chartData]="sortedData"></app-weather-chart>
  </p-tabPanel>
  <p-tabPanel header="Table">
    <app-weather-table [tableData]="sortedData"></app-weather-table>
  </p-tabPanel>
</p-tabView>
