.weather-container {
  text-align: center;
  padding: 20px;
}

.weather-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.weather-container p {
  font-size: 1.2em;
}

.table-container {
  height: 100%;
}
