<p-table
  [columns]="cols"
  [value]="tableData"
  [tableStyle]="{ 'min-width': '50rem', height: '100%', }"
  [scrollable]="true"
  scrollHeight="700px"
>
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let col of cols"
        pSortableColumn="{{ col.field }}"
        [ngStyle]="{ width: '20%' }"
      >
        {{ col.header }} <p-sortIcon field="{{ col.field }}" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
